# created by virtualenv automatically

# ignore directories
Lib/
Scripts/
share/

# ignore files
pyvenv.cfg
dockerfile.python
docker-requirements.txt
app.js
complex-words.txt
word-relationships.txt
